<h1>Event details page</h1>

<h2>{{name}}</h2>

<h3>Creator: {{owner.name}}</h3>

<p>{{location}}</p>

<p>{{date}}</p>

<p>{{description}}</p>

<a href="/profile">My profile</a>

<form action="/events/add-item" method="POST">
  <label for="item-name">Item: </label>
  <input type="text" name="itemName" id="item-name">
  <label for="item-quantity">Quantity</label>
  <input type="number" name="itemQuantity" id="item-quantity">
  <input type="hidden" value="{{_id}}" name="id">
  <button type="submit">Add Item</button>
</form>


<ul>
  {{#each items}}
  <li>{{this.quantity}}</li>
  <form action="/take-item" method="POST"></form>
  <button type="submit">Carry Item</button>
  {{/each}}
</ul>

<ul>
  {{#each attendees}}
  <li>{{this.username}}</li>
  <form action="/people/delete-people" method="POST">
    <input type="hidden" value="{{../_id}}" name="eventId">
    <input type="hidden" value="{{_id}}" name="guestId">
    <button type="submit">Remove user</button>
  </form>
  {{/each}}
</ul>

<a href="/people/{{_id}}/list">Search people</a>