<h1>Event details page</h1>

<h2>{{event.name}}</h2>

<h3>Creator: {{event.owner.name}}</h3>

<p>{{event.location}}</p>

{{!-- <div id="map">

</div> --}}

<p>{{event.date}}</p>

<p>{{event.description}}</p>

<a href="/profile">My profile</a>

<form action="/people/leave-event" method="POST">

  <input type="hidden" value="{{event._id}}" name="id">
  <button type="submit">Leave event</button>
</form>

{{#if isCreator}}
<form action="/events/add-item" method="POST">
  <label for="item-name">Item: </label>
  <input type="text" name="name" id="item-name">
  <label for="item-quantity">Quantity</label>
  <input type="number" name="quantity" id="item-quantity">
  <input type="hidden" value="{{event._id}}" name="event">
  <button type="submit">Add Item</button>
</form>
{{/if}}

{{> flash}}

{{#if event.items}}
<ul>
  {{#each event.items}}
  {{#if this.status}}
  <li>Quantity: {{this.quantity}} Item: {{this.name}} Status: {{this.status}}</li>
  <form action="/events/take-item" method="POST" id="carry-form">
    <input type="hidden" name="event" value="{{../event._id}}">
    {{!-- <script type="text/x-handlebars" data-template-name='app-view'>
    <select name="quantity" id="carry-form">
      {{#times this.quantity}}
      <option value="{{this}}">{{this}}</option>
      {{/times}}
    </select>
    </script> --}}
    <label for="quantity">Quantity: </label>
    <input type="number" name="quantity" value="1">
    <input type="hidden" name="name" value="{{this.name}}">
    <button type="submit">Carry Item</button>
  </form>
  {{/if}}
  {{/each}}
</ul>
{{/if}}

<ul>
  {{#each event.attendees}}
  <li>
    <ul>{{this.username}}
      {{#each items}}
      <li class="hide">Item: {{itemName}}, Quantity carrying: {{quantity}}</li>
      {{/each}}
    </ul>
  </li>

  {{#if ../isCreator}}
  <form action="/people/delete-people" method="POST">
    <input type="hidden" value="{{../event._id}}" name="eventId">
    <input type="hidden" value="{{_id}}" name="guestId">
    <button type="submit">Remove user</button>
  </form>
  {{/if}}
  {{/each}}
</ul>


<a href="/people/{{event._id}}/list">Search people</a>

{{#if isCreator}}
<form action="/events/delete-event" method="POST">
  <input type="hidden" name="event" value="{{event._id}}">
  <button type="submit">Delete Event</button>
</form>
{{/if}}

<script src="/javascripts/carrying-list.js"></script>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

<script src="/javascripts/map.js"></script>

{{!-- <script type="text/x-handlebars" src="/javascripts/helpers.js" id="t"></script> --}}