<section class="header event">
  <h2>{{event.name}}</h2>
  <img class="event-picture" src="{{event.imageUrl}}" />
  <i class="far fa-calendar-alt">
    <p class="date inline">{{event.date}}</p>
  </i>
</section>

<div class="event-description">
  <i class="fas fa-user-shield"></i>
  <h3 class="inline">{{event.owner.name}}</h3>
  <i id="map-icon" class="fas fa-map-marker-alt"></i>
  <p id="location" class="inline">{{event.location}}</p>
</div>
<p id="distance-location"></p>


<div id="map" class="map-height-none">

</div>

<p class="description">{{event.description}}</p>

{{#if isCreator}}
<div class="add-buttons">
  <button class="add submit">Add items</button>
  <a class="add submit big" href="/people/{{event._id}}/list">Search people</a>
</div>

<form action="/events/add-item" method="POST" class="add-item" id="hide">
  <h3>Item</h3>
  <div class="field">
    <input type="text" name="name" id="item-name" placeholder="What item?">
  </div>
  <div class="field">
    <input type="number" name="quantity" id="item-quantity" placeholder="How many?">
  </div>
  <input type="hidden" value="{{event._id}}" name="event">
  <div class="field">
    <button class="submit small-blue" type="submit">Add Item</button>
  </div>
</form>
{{/if}}

{{> flash}}

{{#if event.items}}

<ul class="event-items">
  <h3 class="item-list">Item List</h3>
  {{#each event.items}}
  {{#if this.status}}
  <div class="item-flex">
    <li><span class="blue">{{this.quantity}}</span> {{this.name}}</li>
    <form action="/events/take-item" id="carry-form" method="POST">
      <input type="hidden" name="event" value="{{../event._id}}">
      <input type="number" name="quantity" value="1" placeholder="quantity">
      <input type="hidden" name="name" value="{{this.name}}">
      <button class="submit small-blue" type="submit">Carry Item</button>
    </form>
  </div>

  {{/if}}
  {{/each}}
</ul>
{{/if}}

<ul>
  {{#each event.attendees}}
  <li>
    <ul class="attendees">{{this.username}}
      {{#each items}}
      <li class="hide">Item: {{itemName}}, Quantity carrying: {{quantity}}</li>
      {{/each}}
    </ul>
  </li>

  {{#if ../isCreator}}
  <form action="/people/delete-people" method="POST">
    <input type="hidden" value="{{../event._id}}" name="eventId">
    <input type="hidden" value="{{_id}}" name="guestId">
    <button type="submit">Remove user</button>
  </form>
  {{/if}}
  {{/each}}
</ul>




{{#if isCreator}}
<form action="/events/delete-event" method="POST">
  <input type="hidden" name="event" value="{{event._id}}">
  <button type="submit">Delete Event</button>
</form>
{{/if}}

<form action="/people/leave-event" method="POST">
  <input type="hidden" value="{{event._id}}" name="id">
  <button type="submit">Leave event</button>
</form>


<script src="/javascripts/form.js"></script>
<script src="/javascripts/carrying-list.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="/javascripts/date.js"></script>

<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet'
  href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.css' type='text/css' />


<script src="/javascripts/map.js"></script>