<article class="header">
  <img class="profile" src="{{user.imageUrl}}">
  <p>{{user.username}}</p>
  <form action="/events/search-event" method="GET">
    <label for="event-search-input">Event Name: </label>
    <input type="search" name="name" id="event-search-input"></input>
    <button type="submit">Search event</button>
  </form>
</article>

<article id="events">

  <div id="owned-tab">
    <h2>My Events</h2>
  </div>

  <div id="participating-tab">
    <h2>Events I'm In</h2>
  </div>

  <div id="finished-tab">
    <h2>Finished Events</h2>
  </div>

</article>

{{#if eventsSearched}}
<div>
  {{#each eventsSearched}}
  <li><a href="/events/{{_id}}">{{name}}</a></li>
  {{/each}}
</div>
{{/if}}

<div class="show-events">

  <ul id="owned-events" class="show">
    {{#each events.owned}}
    <li><a href="/events/{{this._id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>

  <ul id="participating-events" class="hide">
    {{#each events.participating}}
    <li><a href="/events/{{this._id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>

  <ul id="finished-events" class="hide">
    {{#each events.finished}}
    <li><a href="/events/{{this._id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>

</div>

<div class="list-new-button">
  <a class="list-new-event-button" href="events/new">New Event</a>
</div>

{{!-- <a href="/profile">Back to profile</a> --}}

<script src="/javascripts/event-list.js"></script>