<article class="header">
  <img class="profile" src="{{user.imageUrl}}">
  <p>{{user.username}}</p>
</article>

<article id="events">

  <div id="owned-tab">
    <h2>My Events</h2>
  </div>

  <div id="participating-tab">
    <h2>Events I'm In</h2>
  </div>

  <div id="finished-tab">
    <h2>Finished Events</h2>
  </div>

</article>

<div class="show-events">

  <ul id="owned-events" class="show">
    <div class="container-list">
      {{#each events.owned}}
      <li>
        <div class="container-list event-list-images"
          style="background: url({{this.imageUrl}}) no-repeat center center / cover;">
          <a class="event-square-text" href="/events/{{this._id}}">{{this.name}}</a>
        </div>
      </li>
      {{/each}}
    </div>
  </ul>

  <ul id="participating-events" class="hide">
    <div class="container-list">
      {{#each events.participating}}
      <li>
        <div class="container-list event-list-images"
          style="background: url({{this.imageUrl}}) no-repeat center center / cover;">
          <a class="event-square-text" href="/events/{{this._id}}">{{this.name}}</a>
        </div>
      </li>
      {{/each}}
    </div>
  </ul>

  <ul id="finished-events" class="hide">
    <div class="container-list">
      {{#each events.finished}}
      <li>
        <div class="container-list event-list-images"
          style="background: url({{this.imageUrl}}) no-repeat center center / cover;">
          <a class="event-square-text" href="/events/{{this._id}}">{{this.name}}</a>
        </div>
      </li>
      {{/each}}
    </div>
  </ul>

</div>


<div class="list-new-button">
  <a class="dbutton" href="events/new">New Event</a>
  <a class="dbutton" href="events/search-event">search events</a>
</div>




<script src="/javascripts/event-list.js"></script>