<h1 class="invitations">Invitations</h1>

{{!-- {{#if invitations.length}} --}}
<div class="show-events no-scroll">
  <ul>
    <div class="container-list">
      {{#each foundUser.invitations}}
      <li>
        <div class="container-list event-list-images"
          style="background: url({{imageUrl}}) no-repeat center center / cover;">
          <a class="event-square-text" href="/events/{{_id}}">{{name}}</a>
        </div>
      </li>
    </div>
  </ul>
  <div class="join-declain">
    <form action="/people/accept-invitation" method="POST">
      <input type="hidden" value="{{_id}}" name="eventId"></input>
      <input type="hidden" name="guestId" value="{{../foundUser._id}}">
      <button class="dbutton join" type="submit">Join</button>
    </form>
    <form action="/people/decline-invitation" method="POST">
      <input type="hidden" value="{{_id}}" name="eventId"></input>
      <input type="hidden" name="guestId" value="{{../foundUser._id}}">
      <button class="dbutton join" type="submit">Decline</button>
    </form>
  </div>
  {{/each}}
</div>