<h1>Search people Page</h1>

<article>
  <div>
    <form action="/people/{{eventContent.event._id}}/search-people" method="GET">
      <input type="search" name="username"></input>
      <button type="submit">Search people</button>
    </form>
  </div>
  {{#if eventContent.searchedUser}}
  <form action="/people/add-people" method="POST">
    <p>{{eventContent.searchedUser.username}}</p>
    <input type="hidden" value="{{eventContent.event._id}}" name="eventId"></input>
    <input type="hidden" name="guestId" value="{{eventContent.searchedUser._id}}">
    <button type="submit">Add</button>
  </form>

  {{/if}}

  {{> flash}}

  <a href="/events/{{eventContent.event._id}}">Back to Event</a>

</article>